<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Ajouter un jeu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="topnav">
    <a href="index">Accueil</a>
    <a href="afficherjeux">Liste Jeux</a>
    <a class="active" href="ajouterjeu">Ajouter Jeu</a>
    <div class="topnav-right">
        <a class="active" href="logout">Déconnexion</a>
    </div>
</div>
<center>
<h1>Ajouter un jeu :</h1>

<form th:action="@{/ajouterjeu}"
      th:object="${game}" method="POST">
    Id:
    <input type="text" th:field="*{id}" required="required"/>
    <br/>
    Nom:
    <input type="text" th:field="*{nom}" required="required"/>
    <br/>
    Date Sortie:
    <input type="text" th:field="*{dateSortie}" required="required"/>
    <br/>
    Prix:
    <input type="text" th:field="*{prix}" required="required"/>
    <br/><br/>
    <input type="submit" value="Ajouter" />
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
</center>
</body>
</html>